.menu-icon-implants {
    display: block;
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 2.8rem;
    cursor: pointer;
    margin-top: 12%;
    margin-left: 30%;
    font-size: bold;
    color: #fff;

}

.side-menu {
    background-color: #af1058;
    width: 50%;
    min-width: 500px;
    height: 100%;
    min-height: 720px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    float: left;
    transition: 350ms;
    z-index: 10000;
}

.side-menu-b {
    background-color: #193d66;
    width: 46%;
    min-width: 400px;
    height: 100%;
    min-height: 720px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    float: left;
    transition: 350ms;
    z-index: 10000;
}

@media screen and (min-width: 1500px) {
    .side-menu, .side-menu-b {
        zoom: 1.15;
        --moz-transform: scale(1.15);
    }
}

.implant-items {
    width: 100%;
}



.implant_img {
    position: relative;
    top: 50%;
}

.implant_questions {
    color: #fff;
}

.implant_questions_cond {
    color: #fff;
    margin-left: 5%;
    margin-top: -3%;
}

.disable_implant {
    display: none;
  }

.disable_question {
    display: none;
}

.slider {
    position: relative;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    position: relative;
    top: 50%;
    left: 16%;
    font-size: 3rem;
    cursor: pointer;
    user-select: none;
    z-index: 5;
}

.left-arrow {
    position: relative;
    top: 50%;
    right: 13%;
    font-size: 3rem;
    cursor: pointer;
    user-select: none;
    z-index: 5;
}

.questionnaire {
    position: fixed;
}

